/*
 * Alignments, loaded in the front-end only.
 */

body {
	margin: 0;
}

* {
	box-sizing: border-box;
}

.wp-site-blocks,
.wp-block-template-part.alignfull {
	padding: 0 var(--wp--custom--margin--horizontal);
}

.wp-site-blocks > *:not(.wp-block-post-content),
.wp-site-blocks .wp-block-post-content > * {
	max-width: var(--wp--custom--width--default);
	margin-left: 0;
	margin-right: 0;
}

.wp-site-blocks .alignwide {
	width: var(--wp--custom--width--wide);
	max-width: 100%;
	margin-left: 0;
	margin-right: 0;
}

.wp-site-blocks .alignfull {
	transform: translateX(calc(0px - var(--wp--custom--margin--horizontal)));
	width: calc(100% + (2 * var(--wp--custom--margin--horizontal)));
	max-width: calc(100% + (2 * var(--wp--custom--margin--horizontal)));
	margin-left: 0;
	margin-right: 0;
	box-sizing: content-box;
}

.wp-site-blocks .wp-block-template-part.alignfull {
	width: 100%;
	max-width: 100%;
}

.wp-site-blocks .wp-block-columns.alignfull {
	width: 100%;
	max-width: 100%;
}

.aligncenter {
	text-align: center;
}

.wp-site-blocks .alignleft {
	float: left;
	margin-right: 2em;
	max-width: 360px;
}

.wp-site-blocks .alignright {
	float: right;
	margin-left: 2em;
	max-width: 360px;
}

@media only screen and (min-width: 1200px) {

	.wp-block-template-part.alignfull {
		Padding: 40px 120px 40px 120px;
		Grid-gap: 15px;
	}
	.wp-site-blocks div,
	.wp-block-template-part.alignfull div {
		margin: 0 30px;
	}

	.wp-site-blocks .alignfull {
		transform: translateX(0px);
		width: 100%;
		max-width: 100%;
	}
}

@media only screen and (max-width: 1199px) and (min-width: 992px) {

	.wp-block-template-part.alignfull {
		Padding: 40px 60px 40px 60px;
		Grid-gap: 15px;
	}
	.wp-site-blocks div,
	.wp-block-template-part.alignfull div {
		margin: 0 30px;
	}

	.wp-site-blocks .alignfull {
		transform: translateX(0px);
		width: 100%;
		max-width: 100%;
	}
}

@media only screen and (max-width: 991px) {
	.wp-block-template-part.alignfull {
		Padding: 15px;
		Grid-gap: 10px;
	}
	.wp-site-blocks div,
	.wp-block-template-part.alignfull div {
		margin: 0 15px;
	}

	.wp-site-blocks .alignfull {
		transform: translateX(0px);
		width: 100%;
		max-width: 100%;
	}
}
